asgiref==3.11.1
Django==6.0.4
sqlparse==0.5.5
tzdata==2026.1
djangorestframework==3.16.0
djangorestframework-simplejwt==5.5.0
django-cors-headers==4.8.0
Pillow==11.3.0


# داخل صفحه سیر مطالعاتی هدر درجه و ستاره اش بزرگتر میشه برگرده به همون اندازه عادی خودش مثل صفحه های قبلی
# تاریخ عضویت یه فیلد پایین تر بهش بده و جاش سکه های اعتبار و نشون بده
# سیر مطالعاتی هر مرحله 3 ازمون داشته باشه و به طور تصادفی برای کاربران فرستاده بشه